# Backup files
*~
auto-save-list
anything-c-adaptive-history
image-dired

# Compiled
*.elc
*.pyc
*.exe
*.o

# Packaging
.cask
elpa/*
el-get/*
tree-sitter/*

# Undo-tree save-files
*.~undo-tree

# Mac
.DS_Store

# 開発関連
.travis.yml
*.log
*.orig

# 対象外ディレクトリ
var/*
share/*
private/
.session
ac-comphist.dat
.hg/

# end
